<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pagos</title>
</head>
<body>
  <h1>Pagos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <% for(let pago of pagos) { %>
        <tr>
          <td><%= pago.id %></td>
          <td><%= pago.fecha %></td>
          <td><%= pago.importe %></td>
          <td><%= pago.categoria %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <p>
    
  <p>
   
  </p>
</body>
</html>